// TODO: could make animations partial and include it in this file
@-webkit-keyframes thumb {
  0% { -webkit-transform: scale(1); -webkit-transform: rotate(0) }
  50% { -webkit-transform: scale(0.9); -webkit-transform: rotate(-20deg) }
  100% { -webkit-transform: scale(1); -webkit-transform: rotate(0) }
}


#nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $green;
  color: $grey;
  padding: 0 2em;
  z-index: 9000;

  #nav-bar-wrapper {
    max-width: 1000px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    #logo-text-wrapper {
      height: 100%;
      display: flex;
      align-items: center;

      .logo {
        height: 100%;

        &:hover {
        	-webkit-animation-name: thumb;
        	-webkit-animation-duration: 200ms;
        	-webkit-transform-origin:50% 50%;
        	-webkit-animation-iteration-count: 2;
        	-webkit-animation-timing-function: linear;
        }
      }

      .header {
        margin-left: 10px;
        font-size: 32px;
      }
    }

    .compose {
      background-color: $grey;
      border: 1px solid $dark-blue;
      border-radius: 5px;
      padding: 18px 10px;
      font-size: 20px;
      color: $green;
      cursor: pointer;

      &:hover {
        background-color: #FFF;
        color: $dark-blue;
      }
    }
  }

  @media (max-width: 500px) {
    #nav-bar-wrapper {
      #logo-text-wrapper {
        .logo {
          height: 70%;
        }
        .header {
          font-size: 24px;
        }
      }

      .compose {
        padding: 10px;
        font-size: 16px;
      }
    }
  }
}
