#nav-bar {
  position: fixed;
  height: 80px;
  top: 0;
  right: 0;
  left: 0;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  font-size: 200%;
  margin-left: 10px;
  float: left;
  line-height: 80px;
}
