.new-tweet {
  background-color: #EEEEEE;
  border: 1px solid #CACACA;
  border-radius: 5px;
  margin: 0 2em;
  padding: 10px;
  overflow: auto;
}

.new-tweet h2 {
  border-bottom: 1px solid #244751;
  margin-top: 0;
}

.new-tweet textarea {
  display: block;
  border: 1px solid #ACACAC;
  width: 100%;
  resize: none;
  margin-bottom: 5px;
  padding: 5px
}

.new-tweet input {
  float: left;
  border: 1px solid #CACACA;
  background: linear-gradient( #E5E5E5, #F5F5F5);
  cursor: pointer;
}

.new-tweet span.invalid-tweet {
  float: left;
  color: tomato;
  font-size: 12px;
  padding-left: 10px;
  display: none;
}

.new-tweet span.counter {
  float: right;
  font-style: italic;
  font-size: 12px;
  line-height: 29px;
  margin-right: 5px;
}

.new-tweet .too-long {
  color: tomato;
}
