.tweet {
  border: 1px solid #CACACA;
  border-radius: 5px;
  margin: 10px 2em;
}

.tweet header {
  background-color: #EEEEEE;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  height: 70px;
  padding: 10px;
  opacity: 0.7;
}

.tweet.hover {
  border: 1px solid #244751;
}

.tweet header.hover {
  opacity: 1;
}

.tweet img {
  height: 100%;
  float: left;
}

.tweet h2 {
  display: inline;
  float: left;
  margin: 0 10px;
}

.tweet header span {
  font-size: 14px;
  float: right;
  margin: 0;
  padding-top: 9px;
  color: #858585;
}

.tweet p {
  padding: 20px;
  word-wrap: break-word;
}

.tweet footer {
  border-top: 1px solid #EEEEEE;
  padding: 10px;
  margin: 0;
  overflow: auto;
}

.tweet footer span {
  font-size: 12px;
  float: left;
}

.tweet .fa {
  color: #66C5B7;
  height: 12px;
  padding-left: 10px;
  float: right;
}

.tweet .icons {
  display: none;
}
